
/**
 * @file
 * Admin stylesheet.
 */

#wysiwyg_cleaner .row {
	clear:both;
}

#wysiwyg_cleaner .row .wrapper {
	float:left;
	margin-right:10px;
	width:45%;
}

#wysiwyg_cleaner .row .link-delete-rule {
	float:right;
	margin:3em 1em 1em 1em;
	cursor:pointer;
}

#wysiwyg_cleaner .preview-before,
#wysiwyg_cleaner .preview-after {
	float:left;
	padding:1%;
	width:47%;
}

#wysiwyg_cleaner .preview-before .wrapper,
#wysiwyg_cleaner .preview-after .wrapper {
	max-height:300px;
	overflow:auto;
}

#wysiwyg_cleaner .preview-after {
	float:right;
}

#wysiwyg_cleaner .row .wrapper .rule {
	width:99%;
}

#wysiwyg_cleaner a.link-add-rule,
#wysiwyg_cleaner a.link-edit-preview {
	clear:both;
	display:block;
	cursor:pointer;
	width:20em;
}

#wysiwyg_cleaner .edit-preview {
	clear:both;
}